@tailwind base; @tailwind components; @tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* no scrollbar */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

iframe::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers */
}
iframe {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Hide the scrollbar in Firefox */
}
iframe {
  overflow: hidden;
  border: none;
}